<div class="main-header" ng-init="$hdr.init()">
    <nav class="navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="cursorPointer" src="assets/images/logo.png">
            </div>
            <div class="header-middle">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="app.admin.employee" class="cursorPointer">Empolyee</a></li>
                </ul>
            </div>
            <div class="header-right">
                <a ui-sref="/login" class="cursorPointer" ng-click="$hdr.changed()">Logout</a>
            </div>
        </div>
      </nav>
</div>