<div class="mainEmployee" ng-init="$empy.init()">
    <div class="row">
        <div class="col-xs-2">
            <div class="admin-left-contt">
                <div class="emp-list" ng-class="{'active': emp.EnrollNumber == $empy.selectedEmployee.EnrollNumber}" ng-repeat="emp in $empy.employees" ng-click="$empy.employRecord(emp)">
                    <i class="fa fa-hand-o-right" ng-if="emp.EnrollNumber == $empy.selectedEmployee.EnrollNumber" aria-hidden="true"></i>
                    <div ng-bind="emp.Name"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="main-tabs">
                <div class="sub-tab" ng-class="{'active': $empy.tabName=='view'}">
                    <div class="tab-text" ng-click="$empy.changeTab('view')">Overview</div>
                    <div class="tab-box" ng-click="$empy.changeTab('view')"></div>
                </div>
                <div class="sub-tab" ng-class="{'active': $empy.tabName=='info'}">
                    <div class="tab-text" ng-click="$empy.changeTab('info')">Informaion</div>
                    <div class="tab-box" ng-click="$empy.changeTab('info')"></div>
                </div>
                <div class="sub-tab" ng-class="{'active': $empy.tabName=='leave'}">
                    <div class="tab-text" ng-click="$empy.changeTab('leave')">Leave</div>
                    <div class="tab-box" ng-click="$empy.changeTab('leave')"></div>
                </div>
                <div class="sub-tab" ng-class="{'active': $empy.tabName=='filter'}">
                    <div class="tab-text" ng-click="$empy.changeTab('filter')">Filter</div>
                    <div class="tab-box" ng-click="$empy.changeTab('filter')"></div>
                </div>
                <div class="sub-tab" ng-class="{'active': $empy.tabName=='holiday'}">
                    <div class="tab-text" ng-click="$empy.changeTab('holiday')">Holiday</div>
                    <div class="tab-box" ng-click="$empy.changeTab('holiday')"></div>
                </div>
            </div>
            <div class="tab-content">
                <div class="" ng-if="$empy.tabName=='view'">
                    <row>
                        <div class="col-xs-12 emp-row">
                            <div class="col-xs-4">
                                <div class="emp-child">
                                    <div class="emp-header">Employee</div>
                                    <div class="emp-body textCenter">
                                        <ui-loader loading="$empy.isRecent"></ui-loader>
                                        <div class="emp-rs marginBottom15">
                                            <span><strong class="fontSize25" ng-bind="$empy.selectedEmployee.Name"></strong></span>
                                        </div>
                                        <div class="emp-rs">
                                            <span><strong>Today Status: </strong></span> <span ng-bind="$empy.empStatus"></span>
                                        </div>
                                        <div class="emp-rs">
                                            <button type="button" class="btn btn-primary btn-common btn-sync" ng-click="$empy.syncData()">Sync</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="emp-child">
                                    <div class="emp-header">Recent Swipes</div>
                                    <div class="emp-body">
                                        <ui-loader loading="$empy.isRecent"></ui-loader>
                                        <div class="emp-rs" ng-repeat="list in $empy.perEmployee">
                                            <div ng-if="list.InOutMode == '1'"> <span><strong>In: </strong></span> <span>{{ list.DateTimeRecord | date : "fullDate" }}</span> </div>
                                            <div ng-if="list.InOutMode == '101'"> <span><strong>Out: </strong></span> <span>{{ list.DateTimeRecord | date : "fullDate" }}</span> </div>
                                        </div>
                                        <div class="emp-rs textCenter" ng-if="$empy.perEmployee.length==0">No reocrd found</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="emp-child">
                                    <div class="emp-header">
                                        Leave taken in year
                                        <div class="sm-icon"><i class="fa fa-refresh cursorPointer" ng-click="$empy.refresh()" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="emp-body">
                                        <ui-loader loading="$empy.isAbsent"></ui-loader>
                                        <div class="emp-num" ng-if="$empy.absent >= 0">
                                            <div ng-bind="$empy.absent"></div>
                                        </div>
                                        <div class="emp-rs textCenter" ng-if="$empy.absent == undefined">No reocrd found</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 emp-row">
                            <div class="col-xs-4">
                                <div class="emp-child">
                                    <div class="emp-header">Absent Days</div>
                                    <div class="emp-body">
                                        <div class="emp-rs textCenter" ng-if="$empy.perEmployee.length==0">No reocrd found</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="emp-child">
                                    <div class="emp-header">Who Is In?</div>
                                    <div class="emp-body">
                                        <div class="emp-rs textCenter" ng-if="$empy.perEmployee.length==0">No reocrd found</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="emp-child">
                                    <div class="emp-header">Absent Team Members</div>
                                    <div class="emp-body">
                                        <div class="emp-rs textCenter" ng-if="$empy.perEmployee.length==0">No reocrd found</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </row>
                </div>
                <div class="" ng-if="$empy.tabName=='info'">
                    <row>
                        <div class="textCenter">
                            <div><img class="default-img" src="../../assets/images/default-person.png"></div>
                            <div><span>Employee Id : </span><span><strong ng-bind="$empy.selectedEmployee.EnrollNumber"></strong></span></div>
                            <div><span>Name : </span><span><strong ng-bind="$empy.selectedEmployee.Name"></strong></span></div>
                            <div><span>Gender : </span><span>Male</span></div>
                            <div><span>DOB : </span><span>29 Mar 1993</span></div>
                            <div><span>DOJ : </span><span>14 mar 2018</span></div>
                        </div>
                    </row>
                </div>
                <div class="" ng-if="$empy.tabName=='leave'">
                    <row>
                        <div class="emp-leave-box">
                            <label>Leave date list: {{$empy.selectedEmployee.Name}}</label>
                            <ul class="leave-list">
                                <li ng-repeat="leave in $empy.totalLeaves">
                                    <div class="leave-box" ng-bind="leave.Date"></div>
                                </li>
                            </ul>
                        </div>
                    </row>
                </div>
                <div class="" ng-if="$empy.tabName=='filter'">
                    <row>
                        <div>
                            <div class="col-xs-12 filter-box">
                                <div class="col-xs-3">
                                    <input class="date-type" ng-model="$empy.filter.startDate" type="date">
                                </div>
                                <div class="col-xs-3">
                                    <input class="date-type" type="date" ng-model="$empy.filter.endDate">
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary btn-common btn-filter" ng-disabled="!$empy.filter.startDate || !$empy.filter.endDate || !$empy.selectedEmployee.EnrollNumber" ng-click="$empy.searchData($empy.filter)">Find</button>
                                </div>
                            </div>
                            <div class="col-xs-12 filter-box-table">
                                <ui-loader loading="$empy.isFilter"></ui-loader>
                                <!-- class="table table-bordered" -->
                                <table id="holiday-list">
                                    <thead>
                                        <tr>
                                            <th>In / Out</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="flt in $empy.filterData">
                                            <td ng-bind="flt.inOrOut"></td>
                                            <td ng-bind="flt.date"></td>
                                            <td ng-bind="flt.time"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </row>
                </div>
                <div class="" ng-if="$empy.tabName=='holiday'">
                    <div class="col-xs-12 holiday-box-table">
                        <table id="holiday-list">
                            <tr>
                                <th>Day</th>
                                <th>Date</th>
                                <th>Holiday Name</th>
                            </tr>
                            <tr ng-repeat="list in $empy.holidayList">
                                <td>{{list.day}}</td>
                                <td>{{list.date}}</td>
                                <td>{{list.purpose}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>