.fontSize25{
    font-size: 25px;
}
.textCenter{
    text-align: center;
}
.marginBottom15{
    margin-bottom: 15px
}
.main-login {
    width: 500px;
    margin: 50px auto;
    border: solid 1px #ddd;
    padding: 20px;
    border-radius: 5px;
}
.login-logo {
    background-color: #23b4fb;
    margin-bottom: 20px;
}
.textRight {
    text-align: right;
}
.btn-common {
    background-color: #23b4fb;
    border-color: #23b4fb;
}
.cursorPointer{
    cursor: pointer;
}
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	padding-top: 40px;
}

::-webkit-scrollbar-track {
	background: rgb(249,252,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
	/*border: 1px solid #eee;*/
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
    height: 30px;
    width: 5px;
    background: #848484;
    border-radius: 14px;
}
/* header css start*/
.navbar-inverse {
    background-color: #23b4fb;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.header-right {
    float: right;
    line-height: 81px;
}
.header-middle {
    line-height: 81px;
    display: inline-block;
    padding: 11.5px;
}
.header-right > a {
    text-decoration: none;
    color: #fff;
}
.navbar-nav > li {
    border-bottom: solid 3px transparent;
}
.navbar-nav > li:hover {
    border-bottom: solid 3px #fff;
}
/* header css end*/

/* loader :start */
.spinner {
    margin: 80px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}
.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
#loaderDivPage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20000;
    background-color: #ffffff;
    opacity: 1;
}
#loaderDivPage .spinner {
    margin: 25% auto;
}
#loaderDivPage .spinner > div {
    background-color: #3c8dbc;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
#loaderDivPage .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
#loaderDivPage .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
#loaderDivPage .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
#loaderDivPage .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
#loaderDivPage.load-main .spinner {
    margin: 6% auto;
    background-color: #fff;
}
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}
@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
/* loader :end */

/* admin css start*/
.mainAdmin {
    width: 70%;
    margin: auto;
}
/* admin css end*/

/* employee css start*/
.emp-list.active > .fa-hand-o-right {
    position: absolute;
    left: 5px;
    top: 8px;
}
.todayDates {
    font-size: 30px;
    margin-top: 20px;
}
.mainEmployee {
    margin-top: 50px;
}
.emp-header {
    height: 40px;
    line-height: 40px;
    background-color: #23b4fb;
    color: #fff;
    text-align: center;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.emp-body {
    height: 200px;
    border: solid 1px #ddd;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}
.emp-row {
    margin-bottom: 20px;
}
.admin-left-contt {
    background-color: #23b4fb;
    color: #fff;
    border: solid 2px #23b4fb;
    height: 600px;
    overflow-y: auto;
}
.emp-list {
    text-align: center;
    border-bottom: solid 1px #fff;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    position: relative;
}
.emp-num {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 25px auto;
    line-height: 90px;
    font-size: 50px;
    border-radius: 50%;
    border: solid 5px #4a93b7;
}
.sm-icon {
    display: inline-block;
}
.sm-icon {
    display: inline-block;
    position: absolute;
    right: 20px;
}
.default-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.filter-box-table {
    max-height: 467px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px 30px;
    position: relative;
}
.btn-sync {
    margin-top: 20px;
}
/* employee css end*/


/* filter css start*/
.date-type {
    height: 26px;
}
.filter-box {
    line-height: 34px;
}
.leave-list > li > .leave-box {
    margin: 5px;
    padding: 5px;
    border: solid 1px #23b4fb;
    border-radius: 5px;
}
.leave-list{
    padding: 0px 30px;
}
.emp-leave-box > label {
    padding: 0px 30px;
}
.leave-list > li {
    display: inline-block;
}
/* filter css end*/

/* holiday start*/
.tab-content {
    z-index:1;
    padding: 20px 0;
    border:1px solid #23b4fb;
    position:relative;
    margin-top: -1px;
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
#holiday-list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#holiday-list td, #holiday-list th {
    border: 1px solid #ddd;
    padding: 11px;
    text-align: center;
}

#holiday-list tr:nth-child(even){background-color: #f2f2f2;}

#holiday-list tr:hover {background-color: #ddd;}


#holiday-list th {
    background-color: #23b4fb;
    border: 1px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}
.holiday-box-table {
    padding: 0 30px;
}
/* holiday end*/

/* css for tabs start*/
.main-tabs {
    height:45px;
    padding: 0 0 0 0;
    overflow:visible;
}
.sub-tab {
    width:180px;
    height:45px;
    overflow:hidden;
    float:left;
    margin:0 -15px 0 0;
}
.tab-box {
    height:50px;
    background: #23b4fb;
    border-radius: 4px;
    border:1px solid #23b4fb;
    margin:0 10px 0;
    box-shadow: 0 0 2px  #fff inset;
   -webkit-transform: perspective(100px) rotateX(30deg);
   -moz-transform: perspective(100px) rotateX(30deg);
    
}
.sub-tab.active {
    z-index:40;
    position:relative;
    padding-bottom:1px;
}
.sub-tab.active .tab-box {
    background-color: #fff;
    box-shadow: 0 0 2px 0 #fff inset;
    color: #333;
}
.sub-tab.active .tab-text {
    color: #333;
}
.tab-content {
    z-index:1;
    padding: 20px 0;
    border:1px solid #23b4fb;
    position:relative;
    margin-top: -1px;
    display: inline-block;
    width: 100%;
}
.tab-text {
    position: absolute;
    z-index: 50;
    width: 180px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    cursor: pointer;
}
.sub-tab:focus, .tab-text:focus, .tab-box:focus {
    outline: none;
}
.clear {
   clear:both;
}
/* css for tabs end*/