<div class="main-login">
    <div class="login-logo">
        <img src="assets/images/logo.png">
    </div>
    <div class="login-body">
        
        <form name="$log.loginForm" role="form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" ng-model="$log.login.userName" placeholder="Enter the username" required /> 
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" ng-model="$log.login.password" placeholder="Enter the password" required />
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-primary btn-common btn-login" ng-disabled="!$log.login.password || !$log.login.userName" ng-click="$log.doLogin($log.login)">Sign In</button>
                </div>
                <div class="col-xs-3"><ui-loader loading="$log.loading"></ui-loader></div>
                <!-- <div class="col-xs-5 forgrtPassword textRight"><a href="">Forgot password?</a></div>
                <div class="col-xs-4 newUser textRight"><a href="">new user?</a></div> -->
            </div>
        </form> 

    </div>
</div>

